<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18F132</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleRTL815XEthernet109</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.2, This product is covered by one or more of the following patents:
	US6,570,884, US6,115,776, and US6,327,625
	Copyright(c) 2019 Realtek Semiconductor Corp. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.realtek.driver.AppleRTL815XEthernet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.19</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10E1001</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A557</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>1020</string>
	<key>DTXcodeBuild</key>
	<string>10E1001</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Acer-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>4174</integer>
			<key>idVendor</key>
			<integer>4133</integer>
		</dict>
		<key>Belkin-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8192</integer>
			<key>idProduct</key>
			<integer>1146</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin-002-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>1162</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>DLINK-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>32308</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>DLINK-002-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>42768</integer>
			<key>idVendor</key>
			<integer>8193</integer>
		</dict>
		<key>LG-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8192</integer>
			<key>idProduct</key>
			<integer>38944</integer>
			<key>idVendor</key>
			<integer>1086</integer>
		</dict>
		<key>LG-002-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>38937</integer>
			<key>idVendor</key>
			<integer>1086</integer>
		</dict>
		<key>Lenovo-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>12367</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-002-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>29189</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-003-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>12370</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-004-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>29194</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-005-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>29195</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-006-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>29196</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-007-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12289</integer>
			<key>idProduct</key>
			<integer>12372</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-008-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12304</integer>
			<key>idProduct</key>
			<integer>12370</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-009-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>12375</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-00A-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12289</integer>
			<key>idProduct</key>
			<integer>12386</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-00B-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12545</integer>
			<key>idProduct</key>
			<integer>12386</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-00C-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12545</integer>
			<key>idProduct</key>
			<integer>12393</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-00D-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12544</integer>
			<key>idProduct</key>
			<integer>29204</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-00E-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12547</integer>
			<key>idProduct</key>
			<integer>12386</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-00F-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>12389</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-010-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12547</integer>
			<key>idProduct</key>
			<integer>12393</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-011-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>29195</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-012-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12547</integer>
			<key>idProduct</key>
			<integer>29214</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Lenovo-013-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12545</integer>
			<key>idProduct</key>
			<integer>12418</integer>
			<key>idVendor</key>
			<integer>6127</integer>
		</dict>
		<key>Linksys-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>65</integer>
			<key>idVendor</key>
			<integer>5041</integer>
		</dict>
		<key>PioneerDJ-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8192</integer>
			<key>idProduct</key>
			<integer>7</integer>
			<key>idVendor</key>
			<integer>11123</integer>
		</dict>
		<key>RealteK RTL8150B-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8192</integer>
			<key>idProduct</key>
			<integer>32848</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8150B-002-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8193</integer>
			<key>idProduct</key>
			<integer>32848</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8150B-003-Interface </key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8194</integer>
			<key>idProduct</key>
			<integer>32848</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8150B-004-Interface </key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8195</integer>
			<key>idProduct</key>
			<integer>32848</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8150B-005-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8196</integer>
			<key>idProduct</key>
			<integer>32848</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8150B-006-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8197</integer>
			<key>idProduct</key>
			<integer>32848</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8150B-007-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8207</integer>
			<key>idProduct</key>
			<integer>32848</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8152B-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8192</integer>
			<key>idProduct</key>
			<integer>33106</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8152B-002-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8193</integer>
			<key>idProduct</key>
			<integer>33106</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8152B-003-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8194</integer>
			<key>idProduct</key>
			<integer>33106</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8152B-004-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8195</integer>
			<key>idProduct</key>
			<integer>33106</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8152B-005-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8196</integer>
			<key>idProduct</key>
			<integer>33106</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8152B-006-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8197</integer>
			<key>idProduct</key>
			<integer>33106</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8152B-007-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8207</integer>
			<key>idProduct</key>
			<integer>33106</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153-002-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12289</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153-003-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12290</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153-004-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12291</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153-005-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12292</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153-006-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12293</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153-007-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12305</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153-008-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12303</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153B-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12544</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153B-002-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12545</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153B-003-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12546</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153B-004-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12547</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153B-005-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12548</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153B-006-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12549</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8153B-007-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12559</integer>
			<key>idProduct</key>
			<integer>33107</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8156A-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>33110</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8156A-002-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12289</integer>
			<key>idProduct</key>
			<integer>33110</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8156A-003-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12290</integer>
			<key>idProduct</key>
			<integer>33110</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8156A-004-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12291</integer>
			<key>idProduct</key>
			<integer>33110</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8156A-005-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12292</integer>
			<key>idProduct</key>
			<integer>33110</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8156A-006-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12293</integer>
			<key>idProduct</key>
			<integer>33110</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8156A-007-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12296</integer>
			<key>idProduct</key>
			<integer>33110</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>RealteK RTL8156A-008-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12303</integer>
			<key>idProduct</key>
			<integer>33110</integer>
			<key>idVendor</key>
			<integer>3034</integer>
		</dict>
		<key>Samsung-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>41217</integer>
			<key>idVendor</key>
			<integer>1256</integer>
		</dict>
		<key>TPLINK-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12288</integer>
			<key>idProduct</key>
			<integer>1537</integer>
			<key>idVendor</key>
			<integer>9047</integer>
		</dict>
		<key>TPLINK-002-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8192</integer>
			<key>idProduct</key>
			<integer>1538</integer>
			<key>idVendor</key>
			<integer>9047</integer>
		</dict>
		<key>TPLINK-003-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8192</integer>
			<key>idProduct</key>
			<integer>1539</integer>
			<key>idVendor</key>
			<integer>9047</integer>
		</dict>
		<key>TPLINK-004-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>12544</integer>
			<key>idProduct</key>
			<integer>1540</integer>
			<key>idVendor</key>
			<integer>9047</integer>
		</dict>
		<key>Xiaomi-001-Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.realtek.driver.AppleRTL815XEthernet</string>
			<key>IOClass</key>
			<string>AppleRTL815XEthernet</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>OSBundleAllowUserLoad</key>
			<string>true</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>8192</integer>
			<key>idProduct</key>
			<integer>17</integer>
			<key>idVendor</key>
			<integer>10007</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.4.3</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
